<div class="jumbotron" style="text-align:center">
	<h1>Joel Bowen <br>
		<small>Galvanize Labs</small>
	</h1>
	<a href="mailto:contact@joelbowen.com">contact@joelbowen.com</a> | <a href="https://twitter.com/JoelSocialized">@JoelSocialized</a><br>
	<h2 class="label label-primary">Graduated 2011</h2>
	<h2 class="label label-primary">DIFD: Digital Commerce</h2><br>
	<h2 class="label label-info">Developer who Designs</h2>
	<hr>
	<p>
		GitHub Free Programming Books: <a href="http://bit.ly/free-dev-books">http://bit.ly/free-dev-books</a>
	</p>
	<p>
		These Slides: <a href="https://github.com/joelbowen/alumni_presentation.git">https://github.com/joelbowen/alumni_presentation.git</a>
	</p>
</div>